@media all and (max-width: 1800px) {
	.social {
		left: 10vw;
	}
}

@media all and (max-width: 1200px) {
	.map {
		height: 430px;
		&:after {
		}
	}
}


@media all and (max-width: 992px) {
	.map {
		height: 390px;
	}

	.list {
		&__item {
			&_right {
				p {
					margin-right: 20px;
				}
			}

			&_left {
				p {
					margin-left: 20px;
				}
			}
		}
	}

	.section {
		padding: 5vh 0;
	}	

	.index {
		min-height: 100vh;
	}

	#fp-nav {
		display: none;
	}
}

@media all and (max-width: 769px) {
	.slideout-panel {
		background: @c-white;
	}
	.fp-section,
	.fp-tableCell {
		height: auto !important;
		min-height: 50vh !important;
	}
	.bg-video {
		left: 40%;
	}

	.index {
		background: rgba(255,255,255,.8);
		&__txt {
			width: 100%;
			text-align: center;	

			span {
				font-size: 4em;
			}
		}
		&.fp-section,
		.fp-tableCell {
			height: auto !important;
			min-height: 100vh !important;
		}
	}
	.hamburger {
		display: block;
	}

	.header {
		&__nav {
			display: none;
		}
	}

	.form {
		&__item {
			width: 100%;
			margin: 5px 0;
		}
	}

	.places {
		&__map {
			order: 1;
			margin: 15px 0;
		}
		&__info {
			order: 0;
		}
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		&__item {
			width: 50%;
			flex-wrap: wrap;
			justify-content: center;
			p {
				width: 100%;
			}

			&_right {
				span {
					order: 0;
				}
				p {
					text-align: center;
					order: 1;
					margin: 10px 0;
				}
			}

			&_left {
				p {
					text-align: center;
					margin: 10px 0;
				}
			}
		}
	}

	.service {
		// background: url('../img/1.jpg') 50% no-repeat;
		background-size: cover;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(255,255,255,.8);
		}
		&__txt {
			width: 100%;
			position: relative;
		}
	}

	.social {
		left: 1vw;
		&__link {
			margin: 0;
		}
	}
}


@media all and (max-width: 600px) {
	.variable__item {
		width: 100%;
		margin-top: 20px;
		p {
			margin: 0;
		}
	}

	.section {
		padding: 1vh 0;
	}
}

@media all and (max-width: 480px) {
	.points {
		justify-content: center;

		&__list {
			width: 100%;
		}
	}

	.form {
		width: 100%;
	}

	.map {
		height: 340px;
	}

	.list__item {
		width: 100%;
	}
}