<header class="header">
	<div class="container">
		<div class="header__logo">
			<img src="../img/logo.png" alt="ittech">
		</div>
		<nav class="header__nav">
			<ul id="menu" class="menu">
				<li class="menu__item" data-menuanchor="pindex"><a class="menu__link" href="#index">главная</a></li>
				<li class="menu__item" data-menuanchor="pservice"><a class="menu__link" href="#service">услуга</a></li>
				<li class="menu__item" data-menuanchor="ppillars"><a class="menu__link" href="#pillars">пилларс</a></li>
				<li class="menu__item" data-menuanchor="pconditions"><a class="menu__link" href="#conditions">условие</a></li>
				<li class="menu__item" data-menuanchor="pcontacts"><a class="menu__link" href="#places">контакты</a></li>
			</ul>
		</nav>
		<div class="hamburger">
		</div>
	</div>
</header>
