<header class="header">
	<div class="container">
		<div class="header__logo">
			<img src="../img/logo.png" alt="ittech">
		</div>
		<nav class="header__nav">
			<ul id="menu" class="menu">
				<li class="menu__item" data-menuanchor="index"><a class="menu__link" href="#index">главная</a></li>
				<li class="menu__item" data-menuanchor="service"><a class="menu__link" href="#service">услуга</a></li>
				<li class="menu__item" data-menuanchor="pillars"><a class="menu__link" href="#pillars">пиларс</a></li>
				<li class="menu__item" data-menuanchor="conditions"><a class="menu__link" href="#conditions">условие</a></li>
				<li class="menu__item" data-menuanchor="contacts"><a class="menu__link" href="#contacts">контакты</a></li>
			</ul>
		</nav>
	</div>
</header>
